build/
compile_commands.json
.cache/
docs/
venv/
.venv/
*.ipynb
.ipynb_checkpoints
*.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.dot
.vscode/
tests/gen.sh
tests/genall.sh
tests/*.ll
tests/*.bin
tests/*.log
artifact/bash/generated_tests/*.ll
artifact/bash/generated_tests/*.bin
artifact/bash/generated_tests/*.log
